{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{customCss}}">
	<link rel="stylesheet" href="{{bootstrapCss}}">
	<link rel="stylesheet" href="{{bootstrapIcons}}">
	<style type="text/css">
		body {
			display: flex;
			flex-direction: row;
		}
		#mainContainer {
			display: flex;
			flex-direction: column;
		}

		.hcb{/*half circle border*/border-radius: 100vh;}

		table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;

            /*text-align: left;*/
        }

        tbody {
            height: 250px;
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }

		
        tbody td, thead th {
            /*width: 30%;*/
            float: left;
        }
		
	</style>
{% endblock %}
{% block body %}

	<div class="horizonMargin"></div>
	<div id="mainContainer" class="">
		{# <div class="h5"></div> #}
		<div class="btn-group dropright">
			<button type="button" class="btn btn-lg btn-secondary hcb mar5px dropdown-toggle" data-toggle="dropdown">
				<div>Choisir une entit&eacute; &agrave; tout moment : </div>
				<label id="entityLabel" class="vh7">Dirigeant</label> 
				&nbsp;&nbsp;&nbsp;
				<i class="bi bi-arrow-right-circle" style='font-size:30px;'></i>
			</button>
			{# ***************************************************************** #}
			{# ***************************************************************** #}
			<div class="dropdown-menu">
				<button id="dirigeantWidget" class="dropdown-item vh5 active" type="button">Dirigeant</button>
    			<button id="societeWidget" class="dropdown-item vh5" type="button">Soci&eacute;t&eacute;</button>
			</div>
		</div>


{# ***************************************************************** #}
{# ***************************************************************** #}
{# ***************************************************************** #}
{# ***************************************************************** #}

		<ul class="nav nav-pills nav-fill mar5px">
			<li class="nav-item">
				<button id="ajoutWidget" class="nav-link vh5 active" type="button">Ajout</button>
			</li>
			<li class="nav-item">
				<button id="listeWidget" class="nav-link vh5" type="button">Liste</button>
			</li>
		</ul>
		{# ***************************************************************** #}
		{# ***************************************************************** #}
		<div class="tab-content  mar5px">
			<div id="dirigeantAjout" class="tab-pane fade show active" role="tabpanel">
				<div class="cnt">
					<h1 class="text-secondary">Ajouter un dirigeant</h1>
				</div>
				{# ***************************************************************** #}
				{# *********************DEBUT FORMULAIRE AJOUT DIRIGEANT************ #}
				{# ***************************************************************** #}
				<div>{# element form changee en element div #}
					<label for="nomPrenom" class="form-label">Nom et Pr&eacute;noms : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-person-circle"></i>
							<input type="text" id="nomPrenom" class="form-control" placeholder="e.g. Rakoto">
						</span>
					</div>
					<br>
					<label for="sexe" class="form-label">Sexe : </label>
					<br>
					<div class="input-group">
						<span class="input-group-text w100">
							{# <i class="bi bi-person-circle"></i> #}
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="sexeRadioOptions" id="inlineRadio1" value="homme">
								<label class="form-check-label" for="inlineRadio1">Homme</label>
								<i class="bi bi-gender-male"></i>
							</div>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="sexeRadioOptions" id="inlineRadio2" value="femme">
								<label class="form-check-label" for="inlineRadio2">Femme</label>
								<i class="bi bi-gender-female"></i>
							</div>
						</span>
					</div>
					<br>
					<label for="adresseMail" class="form-label">Adresse mail : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-envelope"></i>
							<input type="text" id="adresseMail" class="form-control" placeholder="Enter email">
						</span>
					</div>

					<br>
					<button class="btn btn-primary" onclick="ajouterDirigeant()" >Ajouter</button>
				{# ***************************************************************** #}
				{# *********************FIN FORMULAIRE AJOUT DIRIGEANT************** #}
				{# ***************************************************************** #}
				</div>{# element form changee en element div #}


			</div>
			<div id="dirigeantListe" class="tab-pane fade" role="tabpanel">
				<div class="cnt">
					<h1 class="text-secondary">Liste de dirigeants</h1>
				</div>
				<div id="dirigeantTable"> 
					<table class="table table-hover table-dark">
						<thead>
							<tr>
								<th class="w40" scope="col"> Nom et Pr&eacute;noms </th>
								<th class="w20" scope="col"> Sexe </th>
								<th class="w40" scope="col"> Adresse mail </th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="dirigeant in dirigeants">
								<td class="w40"> ${dirigeant.nomPrenom} </td>
								<td class="w20"> ${dirigeant.sexe} </td>
								<td class="w40"> ${dirigeant.adresseMail} </td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
			<div id="societeAjout" class="tab-pane fade" role="tabpanel">
				<div class="cnt">
					<h1 class="text-secondary">Ajouter une Soci&eacute;t&eacute; </h1>
				</div>
				{# ***************************************************************** #}
				{# *********************DEBUT FORMULAIRE AJOUT SOCIETE************** #}
				{# ***************************************************************** #}
				<div>{# element form changee en element div #}
					<label for="nomSociete" class="form-label">Nom de la Soci&eacute;t&eacute; : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-building"></i>
							<input type="text" id="nomSociete" class="form-control" placeholder="Nom de la Societe">
						</span>
					</div>
					<br>
					<label for="descriptionSociete" class="form-label">Description de la soci&eacute;t&eacute; : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-chat-left-text"></i>
							<textarea class="form-control" id="descriptionSociete" rows="3"></textarea>
						</span>
					</div>
					<br>
					<label for="typeSociete" class="form-label">Type de la Soci&eacute;t&eacute; : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-check-2-square"></i>
							<input type="text" id="typeSociete" class="form-control" placeholder="Type de la Societe">
						</span>
					</div>
					<br>
					<label for="codePostal" class="form-label"> Code Postal : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-mailbox"></i>
							<input type="text" id="codePostal" class="form-control" placeholder="Code Postal">
						</span>
					</div>
					<br>
					<label for="ville" class="form-label"> Ville : </label>
					<div class="input-group">
						<span class="input-group-text w100">
							<i class="bi bi-geo-alt"></i>
							<input type="text" id="ville" class="form-control" placeholder="Ville">
						</span>
					</div>
					<br>
					<button class="btn btn-primary" onclick="ajouterSociete()" >Ajouter</button>
				{# ***************************************************************** #}
				{# *********************FIN FORMULAIRE AJOUT SOCIETE**************** #}
				{# ***************************************************************** #}
				</div>{# element form changee en element div #}


			</div>
			<div id="societeListe" class="tab-pane fade" role="tabpanel">
				<div class="cnt">
					<h1 class="text-secondary">Liste de soci&eacute;t&eacute;s</h1>
				</div>
				<div id="societeTable"> 
					<table class="table table-hover table-dark">
						<thead>
							<tr>
								<th class="w20" scope="col"> Nom </th>
								<th class="w30" scope="col"> Description </th>
								<th class="w20" scope="col"> Type </th>
								<th class="w10" scope="col"> CodeP </th>
								<th class="w20" scope="col"> Ville </th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="societe in societes">
								<td class="w20"> ${societe.nomSociete} </td>
								<td class="w30"> ${societe.descriptionSociete} </td>
								<td class="w20"> ${societe.typeSociete} </td>
								<td class="w10"> ${societe.codePostal} </td>
								<td class="w20"> ${societe.ville} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="horizonMargin"></div>

	{# ***************************************************************** #}
	{# *********************MODAL*************************************** #}
	{# ***************************************************************** #}

	{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> #}
	<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content cnt">
			Ajout&eacute; avec succ&egrave;s
		</div>
	</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{jqueryJs}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{popperJs}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{bootstrapJs}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{vueJs}}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">

		{# ***************************************************************** #}
		{# *********************AJAX***************************************** #}
		{# ***************************************************************** #}

		function ajouterDirigeant() {

			var data = new Object();
			data.nomPrenom = document.getElementById("nomPrenom").value;
			data.sexe = document.querySelector('input[name="sexeRadioOptions"]:checked').value;
			data.adresseMail = document.getElementById("adresseMail").value;

			var XHR = new XMLHttpRequest();
			var urlEncodedData = "";
			var urlEncodedDataPairs = [];
			var name;

			for(name in data) {
				urlEncodedDataPairs.push("\""+name + "\":\"" +data[name]+"\"");
			}
			urlEncodedData = urlEncodedDataPairs.join(',');
			urlEncodedData = "{"+urlEncodedData+"}";


			// Définissez ce qui se passe en cas de succès de soumission de données
			XHR.addEventListener('load', function(event) {
				//alert('Ouais ! Données envoyées et réponse chargée.');
				document.getElementById("nomPrenom").value = "";
				document.getElementById("adresseMail").value = "";
				$('#myModal').modal({
					keyboard: true
				});
			});

			XHR.addEventListener('error', function(event) {
				alert('Oups! Quelque chose s\'est mal passé.');
			});

			XHR.open('POST', '{{protocol}}{{server}}/ajoutDirigeant');
			XHR.setRequestHeader('Content-Type', 'application/json');

			XHR.send(urlEncodedData);
		}


		function ajouterSociete() {
			var data = new Object();
			data.nomSociete = document.getElementById("nomSociete").value;
			data.descriptionSociete = document.getElementById("descriptionSociete").value;
			data.typeSociete = document.getElementById("typeSociete").value;
			data.codePostal = document.getElementById("codePostal").value;
			data.ville = document.getElementById("ville").value;

			var XHR = new XMLHttpRequest();
			var urlEncodedData = "";
			var urlEncodedDataPairs = [];
			var name;

			for(name in data) {
				urlEncodedDataPairs.push("\""+name + "\":\"" +data[name]+"\"");
			}
			
			urlEncodedData = urlEncodedDataPairs.join(',');
			urlEncodedData = "{"+urlEncodedData+"}";

			XHR.addEventListener('load', function(event) {
				document.getElementById("nomSociete").value = "";
				document.getElementById("descriptionSociete").value = "";
				document.getElementById("typeSociete").value = "";
				document.getElementById("codePostal").value = "";
				document.getElementById("ville").value = "";
				$('#myModal').modal({
					keyboard: true
				});
			});

			XHR.addEventListener('error', function(event) {
				alert('Ajax : Oups! Quelque chose s\'est mal passé.');
			});

			XHR.open('POST', '{{protocol}}{{server}}/ajoutSociete');

			XHR.setRequestHeader('Content-Type', 'application/json');

			XHR.send(urlEncodedData);
		}

		{# ***************************************************************** #}
		{# *******************LAYOUT**************************************** #}
		{# ***************************************************************** #}

		setLayout();

		function setLayout() {
			if(clientOrientationPortrait()){
				classAddClass("horizonMargin","w5");
				idAddClass("mainContainer","w90");
			}else{
				classAddClass("horizonMargin","w20");
				idAddClass("mainContainer","w60");
			}
		}
		function clientOrientationPortrait(){	//portrait par defaut
			return document.body.clientHeight > document.body.clientWidth;
		}
		function classAddClass(cName,cAdd){
			var elems = document.getElementsByClassName(cName);
			for(var i = 0;i<elems.length;i++)addClass(elems[i],cAdd);
		}
		function idAddClass(elemId, className) {
			addClass(document.getElementById(elemId),className);
		}
		function hasClass(elem, className) {
			return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
		}
		function addClass(elem, className) {
			if (!hasClass(elem, className)) {
				elem.className += ' ' + className;
			}
		}

		{# ***************************************************************** #}
		{# *********************GUI***************************************** #}
		{# ***************************************************************** #}

		function getActiveEntity() {	//dirigeant ou societe
			if(document.getElementById("societeWidget").classList.contains("active"))return "societe";
			else return "dirigeant";
		}

		function getActiveCommand() {	//ajout ou liste
			if(document.getElementById("ajoutWidget").classList.contains("active"))return "ajout";
			else return "liste";
		}

		document.querySelector("#dirigeantWidget").addEventListener("click",function () {
			activerOption(this);
			const command = getActiveCommand();
			if(command == "ajout")activerPane("dirigeantAjout");
			else if(command == "liste"){
				activerPane("dirigeantListe");
				vm.listeDirigeants();
			}
		});
		document.querySelector("#societeWidget").addEventListener("click",function () {
			activerOption(this);
			const command = getActiveCommand();
			if(command == "ajout")activerPane("societeAjout");
			else if(command == "liste"){
				activerPane("societeListe");
				vm2.listeSocietes();
			}
		});
		document.querySelector("#ajoutWidget").addEventListener("click",function () {
			activerCommand("ajoutWidget");
			const entite = getActiveEntity();
			if(entite == "dirigeant")activerPane("dirigeantAjout");
			else if(entite == "societe")activerPane("societeAjout");

		});
		document.querySelector("#listeWidget").addEventListener("click",function () {
			activerCommand("listeWidget");
			const entite = getActiveEntity();
			if(entite == "dirigeant"){
				activerPane("dirigeantListe");
				vm.listeDirigeants();
			}
			else if(entite == "societe"){
				activerPane("societeListe");
				vm2.listeSocietes();
			}
		});
		function activerCommand(commandId) {
			const commands = document.querySelectorAll(".nav-link");
			commands.forEach(command => {	//esorina daholo ny maha active
				command.classList.remove("active");
			});
			document.getElementById(commandId).classList.add("active");
		}
		function activerOption(elem) {
			document.getElementById("entityLabel").innerHTML = elem.innerHTML;
			const options = document.querySelectorAll(".dropdown-item");
			options.forEach(option => {	//esorina daholo ny maha active
				option.classList.remove("active");
			});
			elem.classList.add("active");
		}
		function activerPane(paneId) {
			const tabs = document.querySelectorAll(".tab-pane");
			tabs.forEach(tab => {	//esorina daholo ny maha active
				tab.classList.remove("active");
				tab.classList.remove("show");
			});
			//ajout societe no tab sokafana
			document.getElementById(paneId).classList.add("active");
			document.getElementById(paneId).classList.add("show");
		}

	</script>
	<script type="text/javascript" charset="utf-8">

		var vm = Vue.createApp({
			delimiters: ['${', '}'],	//tsy atao mitovy @ twig ny balises
			data(){  //tsy azo avela @ izao raha mbola updatevana fa initialisena a vide !!!
				return {
					dirigeants:[]
				}
			},
			methods:{
				listeDirigeants(){
					loadTxtPar('{{protocol}}{{server}}/listeDirigeants',this).then(function(res){
						var value = res.value;
						var param = res.param;
						//alert(value);
						param.$data.dirigeants = JSON.parse(value);
					});
				}
			}
		}).mount("#dirigeantTable");
		//*
		var vm2 = Vue.createApp({
			delimiters: ['${', '}'],
			data(){  
				return {
					societes:[]
				}
			},
			methods:{
				listeSocietes(){
					loadTxtPar('{{protocol}}{{server}}/listeSocietes',this).then(function(res){
						var value = res.value;
						var param = res.param;
						param.$data.societes = JSON.parse(value);
					});
				}
			}
		}).mount("#societeTable");
		//*/
		function loadTxt(url) {
			return new Promise(function (resolve) {
				var request = new XMLHttpRequest();
				request.onreadystatechange = function() {
					if (request.readyState === 4 & request.status != 404)
						resolve(request.responseText);
				}
				request.open('GET', url, true);
				request.setRequestHeader("Cache-Control","no-cache,no-store");
				request.send();
			});
		}

		function loadTxtPar(url,param) {
			return new Promise(function (resolve) {
				loadTxt(url).then(function(value){	// value is an image here
					resolve({"value":value,"param":param});	//passer le parametre
				});
			});
		}
	</script>
{% endblock %}
